<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gamehelp16.jadwalprulangan"
        versionCode = "10" 
        version     = "1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Jadwal PR / Ulangan</name>

    <description>
        Aplikasi untuk mengatur jadwal PR / Ulangan
    </description>
    
    <author href="http://gamehelp16.tk" email="richardsudaryono@gmail.com">
      gamehelp16
    </author>
    
    <content src="index.html" />
    
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />

</widget>
